<h4><th style="width: 33%;text-align: center;">TOURNAMENT VALORANT</th></h4>
<br>
<table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 25%;text-align: center;"><b>ID</b></th>
            <th style="width: 13%;text-align: center;"><b>PLAYING DATE</b></th>
            <th style="width: 13%;text-align: center;"><b>ATTACKING</b></th>
            <th style="width: 18%;text-align: center;"><b>DEFENDER</b></th>
            <th style="width: 21%;text-align: center;"><b>SCORE</b></th>
        </tr>
        <tr>
            <th style="width: 25%;text-align: center;"><b>1</b></th>
            <th style="width: 13%;text-align: center;">29/08/2021</th>
            <th style="width: 13%;text-align: center;">PAPER REX</th>
            <th style="width: 18%;text-align: center;">GAMBIT</th>
            <th style="width: 21%;text-align: center;">13-9</th>
        </tr>
        <tr>
            <th style="width: 25%;text-align: center;"><b>2</b></th>
            <th style="width: 13%;text-align: center;">30/08/2021</th>
            <th style="width: 13%;text-align: center;">VISION STRIKE</th>
            <th style="width: 18%;text-align: center;">TEAM SECREAT</th>
            <th style="width: 21%;text-align: center;">10-13</th>
        </tr>
        <tr>
            <th style="width: 25%;text-align: center;"><b>3</b></th>
            <th style="width: 13%;text-align: center;">31/08/2021</th>
            <th style="width: 13%;text-align: center;">TEAM SECREAT</th>
            <th style="width: 18%;text-align: center;">GAMBIT</th>
            <th style="width: 21%;text-align: center;">12-14</th>
        </tr>
        <tr>
            <th style="width: 25%;text-align: center;"><b>4</b></th>
            <th style="width: 13%;text-align: center;">01/09/2021</th>
            <th style="width: 13%;text-align: center;">VISON STRIKE</th>
            <th style="width: 18%;text-align: center;">PAPER REX</th>
            <th style="width: 21%;text-align: center;">13-4</th>
        </tr>
    </thead>
    <tbody>