<h4><th style="width: 33%;text-align: center;">PROFIL PEMAIN</th></h4>
<br>
<table style="width: 75%;">
    <thead>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 13%;text-align: center;"><b>USERNAME</b></th>
            <th style="width: 13%;text-align: center;"><b>NAMA</b></th>
            <th style="width: 18%;text-align: center;"><b>JENIS KELAMIN</b></th>
            <th style="width: 21%;text-align: center;"><b>KOTA</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">F0RSAKEN</th>
            <th style="width: 13%;text-align: center;">JASON SUSANTO</th>
            <th style="width: 13%;text-align: center;">LAKI-LAKI</th>
            <th style="width: 10%;text-align: center;">JAKARTA</th>
        </tr>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">NATS</th>
            <th style="width: 13%;text-align: center;">HENDRAWAN </th>
            <th style="width: 13%;text-align: center;">LAKI-LAKI</th>
            <th style="width: 10%;text-align: center;">MOSKOW</th>
        </tr>
        <tr>
            <th style="width: 35%;"></th>
            <th style="width: 10%;text-align: center;">TENZ</th>
            <th style="width: 13%;text-align: center;">TYSON</th>
            <th style="width: 13%;text-align: center;">LAKI-LAKI</th>
            <th style="width: 10%;text-align: center;">CANADA</th>
        </tr>
    </tbody>

</table>